<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <!-- bind user input with v-model  -->
      <input type="text" v-model="enteredGoalValue" />
      <!-- Refer to our method  -->
      <button @click="addGoal">Add Goal</button>
      <!-- Check if goals is 0 or empty. If is 0 then display this message. This directive attribute works like if-statement in JS -->
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else-if="goals.length > 0">
        <!-- inside of li we execute a JS expression. Point at goals - the data property that holds goals Aray. Go through each goal and output them -->
        <!-- Repeat all list items for all goals in goal. The interpolation is the string text the user enters in the input field -->
        <!-- Get the index in the Array using perenthesis: index the goal data property -->
        <!-- using the click listener to remove a goal from the goals Array. We retrive index to remove a gaol hence the perenthises with index inside -->
        <!-- the key attribute with the goal text as its value is to fix the bug of Vue reusing DOM elements when we are using same li element and nest <p> and <input> elements. Sometimes we don't want Vue to reuse DOM elements. -->
        <li
          v-for="(goal, index) in goals"
          :key="goal"
          @click="removeGoal(index)"
        >
          <p>{{ goal }} - {{ index }}</p>
          <input type="text" @click.stop />
        </li>
      </ul>
      <!--  v-for can be used on Objects as well but this is not common in web apps.
        retrieve the value, key and index
      <ul>
        <li v-for="(value, key, index) in { name: 'Vanessa', age: 43}">
          {{ key }}: {{ value }} - {{ index }}
        </li>
      </ul>
      -->
      <!-- v-for to loop through numbers: -->
      <!--  
      <li v-for="num in 10">{{ num }}</li>
      -->
      <!-- Fall-back in case non of the above is true -->
      <p v-else>...</p>
    </section>
  </body>
</html>
